# You can use single .env in root folder beside example env, or you can have 2 distinct envs inside config/ folder
# Make sure to name them: .env.development.local and .env.production.local
PORT=
DATABASE_URL=
